.LandingPage {
  display: grid;
}

.ButtonSection {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.LandingLoginBtn {
  color: #09475d;
  text-decoration: none;
  background-color: #f22a4f;
  text-align: center;
  padding: .5rem 1rem;
}

.LoginLogo .AppName, .LoginLogo .Slogan {
  display: none;
}

@media screen and (min-width: 900px) {
  .LandingPage {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .LoginLogo .AppName, .LoginLogo .Slogan {
    display: none;
  }

  .TaxiImg {
    width: 25rem;
    height: 25rem;
    padding: 0 3rem;
  }
}